*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Martian Mono', monospace;;
}
:root{
  --crack: #fff;
  --soot: #000;
}
h2{
  color: var(--crack);
  z-index: 10;
  margin-bottom: 2rem;
  padding-left: 5px;
  border-left: 5px solid hsl(0, 100%, 50%);
}
p{
  font-family: 'Cabin', sans-serif;
}
.container{
  z-index: 10;
  width: 85%;
  margin: 0 auto;
  padding-top: 2rem;
  position: relative;
}



/**************************** NAV ****************************/
.hero{
  background: var(--soot);
  height: 100vh;
}
.nav{
  display: flex;
  z-index: 100;
  position: fixed;
  padding: 1.5rem 14rem;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  width: 100%;
}
.logo{
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--crack);
  cursor: pointer;
  z-index: 10;
}
.nav ul{
  display: flex;
  gap: 3rem;
}
.nav-link{
  text-decoration: none;
  color: var(--crack);
  text-transform: uppercase;
  position: relative;
}
.nav-link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: var(--crack);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}
.nav-link:hover::after{
  transform:scaleX(1);
}
.message{
  border: none;
  padding: 0.9rem;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--crack);
  color: var(--crack);
  font-size: 11px;
  cursor: pointer;
  transition: .5s;
}
.message:hover{
  background-color: var(--crack);
  color: var(--soot);
  border-color: transparent;
}
.hamburger{
  display: none;
}
.close-btn{
  display: none;
}

/* SCROLL EFFECT */
.window-scroll{
  background: hsla(0, 0%, 0%);
  box-shadow: 0 1rem 2rem hsla(0, 0%, 0%, 0.2);
}


/*****************PROFILE-CONTAINER*************/
.profile-container{
  width: 70%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 6rem;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: center;
}
.profile-container .profile-pic{
  height: 35rem;
  border-radius: 50%;
  margin-bottom: 30px;
  z-index: 1;
  border: 5px solid var(--crack);
}
.profile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.profile-info h1{
  color: var(--crack);
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.profile-info .level, .bio{
  margin-bottom: 20px;
  color: hsl(0, 1%, 58%);
  text-align: center;
}
.developer-icons a{
  text-decoration: none;
}
.dev-icon{
  height: 40px;
}


/************************** PROJECTS ******************************/
.project-container{
  position: relative;
  overflow: hidden;
  background: url(../assets/01.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.project-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}
.project{
  border: 1px dashed var(--crack);
  padding: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.project:hover{
  transform: translateY(0.4rem);
}
.project:hover .language-wrapper{
  display: flex;
  justify-content: space-between;
}
.project .project-img{
  margin-bottom: 1rem;
  object-fit: cover;
  width: 100%;
}
.project-info h4{
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  color: var(--crack);
}
.language-wrapper{
  transition: all 500ms ease-in-out;
}
.language-wrapper img{
  width: 1.5rem;
}
.project-link{
  color: var(--crack);
  display: flex;
  justify-content: flex-end;
  transition: .2s;
  padding-bottom: 2px;
  margin-bottom: 3rem;
}
.project-link p{
  border-bottom: 2px solid hsl(0, 100%, 50%);
}
.project-link p:hover{
  border-bottom: 2px solid hsla(0, 100%, 50%, 0);
}


/********************* CERTIFICATES *******************************/
.certification-container{
  background-color: var(--soot);
}
.certification-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding-bottom: 3rem;
}
.certificate{
  padding: 20px;
  border-radius: 5px;
  border: 2px solid var(--crack);
}
.certificate a{
  text-decoration: none;
}
.certificate a h3{
  color: var(--crack);
  margin-bottom: 0.8rem;
}
.certificate a p{
  color: hsl(0, 1%, 58%);
  padding-bottom: 1.5rem;
  transition: 0.5s;
}
.certificate a p:hover{
  color: var(--crack);
}
.certificate a .cert-img{
  margin-bottom: 15px;
  object-fit: cover;
  width: 100%;
}

/************************ SOCIAL CONTAINER ***********************/
.social-container{
  position: relative;
  overflow: hidden;
}
.social-container .socials-bg-img{
  width: 100vw;
  position: absolute;
  z-index: 1;
  height: 200px;
}
.social-wrapper{
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 0 0 30px 0;
  justify-content: space-between;
  z-index: 10;
  position: relative;
}
.social-wrapper a{
  display: flex;
  align-items: center;
}
.social-wrapper a img{
  width: 50px;
  margin-right: 5px;
}
.social-wrapper a p{
  color: var(--crack);
}
.social-wrapper a p:hover{
  text-decoration: underline;
}


/********************** FOOTER ******************/
footer{
  background-color:hsl(0, 0%, 0%);
  border-top: 3px solid red;
}
.container4{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
  align-content: center;
}
.phone-container, .email-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-container a, .email-container a{
  text-decoration: none;
  color: var(--crack);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.phone-container a ion-icon, .email-container a ion-icon{
  margin-right: 10px;
 font-size: 20px;
}


/* MOBILE MEDIA QUIREY */

@media screen and (max-width: 1090px) {
  .profile-container{
    width: 80%;
  }
  .profile-container .profile-pic{
    height: 30rem;
  }
}
@media screen and (max-width: 890px) {
  .profile-container{
    width: 90%;
  }
  .nav{
    padding: 2rem 1rem;
  }
}

@media (width <= 768px){
  .hero{
    background-color: var(--soot);
  }
  .nav{
    position: absolute;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--crack);
    width: 80%;
    left: 50%;
    top: -100%;
    transition: all 500ms ease-in-out;
    transform: translateX(-50%);
  }
  .show{
    top: 0;
  }
  .nav ul{
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  .nav-link{
    color: var(--soot);
    font-size: 0.8rem;
    transition: all 300ms ease-in-out;
  }
  .nav-link:hover{
    font-size: 1rem;
  }
  .hamburger{
    display: flex;
    position: absolute;
    width: 25px;
    z-index: 10;
    left: 50%;
    top: 20px;
    opacity: 0.8;
    transition: .5s;
    cursor: pointer;
  }
  .close-btn{
    display: flex;
    width: 2rem;
    cursor: pointer;
  }
  .logo{
    color: var(--soot);
  }
  .hamburger:hover{
    opacity: 1;
  }
  .message{
    color: var(--soot);
    border: 1px dotted var(--soot);
  }
  .profile-container{
    height: 100vh;
    width: 80%;
  }
  .profile-container .profile-pic{
    width: 100%;
    height: 100%;
  }
  .hero .body-img{
    display: none;
  }
  .profile-container h1{
    font-size: 1.5rem;
  }
  .profile-info .level, .bio{
    width: 90%;
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 0.7rem;
  }
  .dev-icon{
   height: 2rem;
  }
  .certification-container{
   background-color: var(--soot);
  }
  .social-container{
    background: url(../assets/03.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .social-container .socials-bg-img{
    display: none;
  }
  .social-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .social-wrapper a{
     justify-content: center;
  }
  .container4{
    flex-direction: column;
    align-items: center;
  }
  .container4 .logo{
    margin: 0;
    padding-bottom: 1.5rem;
  }
  .phone-container a{
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  h2{
    text-align: center;
    border-left-color: transparent;
    text-decoration: underline;
  }
  .nav{
    width: 100%;
  }
  .profile-container{
    grid-template-columns: 1fr;
    padding-top: 3rem;
  }
  .profile-picture-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-container .profile-pic{
    width: 70%;
    height: 50%;
    margin: 0 auto;
  }
  .profile-info{
    margin-top: -10rem;
  }
  .project-wrapper{
    grid-template-columns: 1fr;
    
  }
  .certification-wrapper{
    grid-template-columns: 1fr;
  }
  .social-wrapper{
    grid-template-columns: 1fr;
    gap: 0.8rem
  }
  .social-wrapper a img{
    display: none;
  }
  .social-wrapper a p{
    font-weight: 400;
  }
  .social-wrapper h2{
    margin-bottom: 1rem;
  }
}

@media screen and (430px < width <= 550px) {
  .profile-info{
    margin-top: -5rem;
  }
}